*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

body {
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

nav a {
  color: black;
  padding-left: 0.75rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  color: rgb(255, 123, 169);
  text-decoration: underline;
}

main {
  width: 75vw;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

.main {
  height: 300px;
}

.main h1 {
  text-transform: uppercase;
  font-size: 45px;
}

.main h2 {
  text-transform: lowercase;
  font-size: 32px;
  color: grey;
}

span {
  font-family: 'Libre Baskerville', serif;
}

.fashion {
  display: flex;
  justify-content: space-between;
}

.harajuku h2 {
  text-align: right;
}

.container {
  width: 33%;
}

.image {
  height: 255px;
}

.harajuku {
  font-size: 4rem;
  font-style: italic;
  color: rgb(255, 255, 255);
  position: center;
  top: auto;
  height: auto;
}

.first {
  background-image: url("https://cdn.shopify.com/s/files/1/0255/2984/3805/files/harajuku_1024x1024.jpg?v=1576036325");
}

.second {
  background-image: url("https://i0.wp.com/tokyotreatblog.wpcomstaging.com/wp-content/uploads/2025/06/harajuku-fashion-styles-thumbnail.webp?fit=1024%2C683&ssl=1");
}

.third {
  background-image: url("https://www.introtravel.com/original-media/images/tumblr_nmh4po73Ny1qahsqho1_1280.width-800.jpg");
}

footer {
  width: 100%;
  height: 300px;
  background-color: rgb(140, 185, 233);
  color: rgb(255, 255, 255);
  margin-top: 80px;
  padding-top: 50px;
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  height: 50px;
}

footer a:hover {
  color: rgb(255, 134, 177);
  text-decoration: underline;
}

.footer-content {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-button-copyright {
  width: 27%;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-button {
  font-size: 0.8rem;
  padding: 1em 2em;
  border-radius: 1.5rem;
  color: rgb(26, 0, 112);
  background: rgb(255, 152, 202);
  text-align: center;
}

.copyright {
  font-size: 0.75rem;
  text-align: right;
  color: rgb(255, 255, 255);
}

/* Source Inspo https://www.vogue.com/article/street-style-harajuku-tokyo */